@media  screen and (max-width:1440px){
    .container {
        width: 768px;
    }    
}
@media screen and (max-width:768px) {
    .container {
        width: 480px;
    }
}
@media screen and (max-width:480px) {
    .container {
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .lessons .col{
        width: 100%;
    }
    .steps .col{
        width: 100%;
    }
    .why-us .col{
        width: 100%;
    }
    .why-us{
        background-color: #222222;
        padding-top: 3rem;
        margin-bottom: 0;
    }
    .steps{
        margin-bottom: 0;
    }
}